# WEEK 6 –MULTI-ARMED BANDITS –AD OPTIMIZATION

Name: Aaron Dsouza<br>
Reg No.: 200968008

In [ ]:
# Importing the Libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import random
import math

<i><b>Question</b></i>:<br>
Consider the given dataset “Ads_clicks” containing data about which add was clicked in each time step. Suppose an advertising company is running 10 different ads targeted towards a similar set of the population on a webpage. We have results for which ads were clicked by a user Each column index represents a different ad. We have a 1 if the ad was clicked by a user, and 0 if it was not.

In [ ]:
df = pd.read_csv('Ads_Optimisation.csv')

In [ ]:
df.head()

   Ad 1  Ad 2  Ad 3  Ad 4  Ad 5  Ad 6  Ad 7  Ad 8  Ad 9  Ad 10
0     1     0     0     0     1     0     0     0     1      0
1     0     0     0     0     0     0     0     0     1      0
2     0     0     0     0     0     0     0     0     0      0
3     0     1     0     0     0     0     0     1     0      0
4     0     0     0     0     0     0     0     0     0      0

In [ ]:
df.shape

(10000, 10)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ad 1    10000 non-null  int64
 1   Ad 2    10000 non-null  int64
 2   Ad 3    10000 non-null  int64
 3   Ad 4    10000 non-null  int64
 4   Ad 5    10000 non-null  int64
 5   Ad 6    10000 non-null  int64
 6   Ad 7    10000 non-null  int64
 7   Ad 8    10000 non-null  int64
 8   Ad 9    10000 non-null  int64
 9   Ad 10   10000 non-null  int64
dtypes: int64(10)
memory usage: 781.4 KB

### **A. Write down the MAB agent problem formulation in your own words.**

<ul>
<li>State: Current user preferences and history of Ads clicked by the user, based on which MAB has to choose to display one out of 10 different Ads</li>
<li>Action: Show an Ad to the user</li>
<li>Reward: 1 if user clicks the Ad else 0</li>
<li>Goal: Maximize the total reward i.e, show the ads that are most likely to be clicked by the user</li>
<li>Policy: The policy is the function that maps from states to actions. The goal of the policy is to maximize the expected cumulative reward over time while minimizing the regret.</li>
</ul>

### **B. Compute the total rewards after 2000-time steps using the ε-greedy action.  a. for ε=0.01, ε= 0.3**

***For epsilon = 0.01***

In [ ]:
# Implementing random selection
N = 2000
d = 10
epsilon = 0.01
ads_selected = []
total_reward = 0

Q = np.zeros(d)
N = np.zeros(d)



import numpy as np

for t in range(2000):
    if np.random.uniform() < epsilon:
        arm = np.random.randint(d)
    else:
        arm = np.argmax(Q)
    # Compute the reward obtained from the selected ad
    reward = df.values[t, arm]
    N[arm] += 1
    Q[arm] += (1/N[arm]) * (reward - Q[arm])
    total_reward += reward


print("Total reward obtained: ", total_reward)
print("Total Reward: %d" % (total_reward))

Total reward obtained:  444
Total Reward: 444

***For epsilon = 0.3***

In [ ]:
# Implementing random selection
N = 2000
d = 10
epsilon = 0.3
ads_selected = []
total_reward = 0

Q = np.zeros(d)
N = np.zeros(d)



import numpy as np

for t in range(2000):
    if np.random.uniform() < epsilon:
        arm = np.random.randint(d)
    else:
        arm = np.argmax(Q)

    # Compute the reward obtained from the selected ad
    reward = df.values[t, arm]
    N[arm] += 1
    Q[arm] += (1/N[arm]) * (reward - Q[arm])
    total_reward += reward


print("Total reward obtained: ", total_reward)
print("Total Reward: %d" % (total_reward))

Total reward obtained:  426
Total Reward: 426

***What if we intialize Estimated value of Action (Q array) as 5 (optimistic value)***

In [ ]:
N = 2000
d = 10
epsilon = 0.01
ads_selected = []
total_reward = 0

Q = [5]*d
N = np.zeros(d)
Q = np.array(Q)

import numpy as np

for t in range(2000):
    if np.random.uniform() < epsilon:
        arm = np.random.randint(d)
    else:
        arm = np.argmax(Q)

    # Compute the reward obtained from the selected ad
    reward = df.values[t, arm]
    N[arm] += 1
    Q[arm] += (1/N[arm]) * (reward - Q[arm])
    total_reward += reward


print("Total reward obtained: ", total_reward)
print("Total Reward: %d" % (total_reward))

Total reward obtained:  338
Total Reward: 338

### ***C. Compute the total rewards after 2000-time steps using the Upper-Confidence-Bound action method for c= 1.5***

In [ ]:
# N : Timesteps
N = 2000

# d : Number of Ads i.e, No. of actions
d = 10

# c : Confidence value
c = 1.5

ads_selected = []
numbers_of_selections = [0]*d
sums_of_reward = [0]*d
total_reward = 0

for n in range(0,N):
  ad = 0
  max_upper_bound = 0
  for i in range(0,d):
    if(numbers_of_selections[i] > 0):
      avg_reward = sums_of_reward[i] / numbers_of_selections[i]
      delta_i = c*math.sqrt(math.log(n+1) / numbers_of_selections[i])
      ub = avg_reward + delta_i
    else:
      # Intializing Upper Bound for action that hasn't been selected before
      ub = 1e400
    if ub > max_upper_bound:
      max_upper_bound = ub
      ad = i

  ads_selected.append(ad)
  numbers_of_selections[ad] += 1

  reward = df.values[n, ad]
  sums_of_reward[ad] += reward
  total_reward += reward
  
print("Total Reward: %d" % (total_reward))

Total Reward: 323

### ***D. For all approaches, explain how the action value estimated compares to the optimal action.***

<li>For epsilon greedy method, sample average method is used to estimate the value of action. This method doesn't efficiently explore because it randomly picks any action during exploration based on the value of epsilon</li>
<li>For Upper Confidence Bound Method (UCB), estimated action value is based on the sum of average reward and an uncertainity parameter which is based on confidence value c. This method provides the best trade off between exploration and exploitation.</li>